To:{{ ssmtp_mail_to }}
From:{{ ssmtp_mail_from }}
Subject: Interactive Login detected!

*********************************************
* Interactive login detected at MusicPlayer *
*********************************************

Logged on hostname: {{ ansible.fqdn }}

