[
  {
    "service": "webradio",
    "name": "JazzFM UK",
    "uri": "{{ JazzFM_uri }}"
  },
  {
    "service": "webradio",
    "name": "Radio M",
    "uri": "{{ RadioM_uri }}"
  },
  {
    "service": "webradio",
    "name": "Radio 10",
    "uri": "{{ Radio10_uri }}"
  },
  {
    "service": "webradio",
    "name": "NPO 3 FM",
    "uri": "{{ Radio3_uri }}"
  },
  {
    "service": "webradio",
    "name": "NPO Radio 2",
    "uri": "{{ Radio2_uri }}"
  },
  {
    "service": "webradio",
    "name": "NPO Radio 4",
    "uri": "{{ Radio4_uri }}"
  },
  {
    "service": "webradio",
    "name": "NPO Radio 6",
    "uri": "{{ Radio6_uri }}"
  },
  {
    "service": "webradio",
    "name": "Arrow Classic Rock",
    "uri": "{{ Arrow_uri }}"
  },
  {
    "service": "webradio",
    "name": "BNR Nieuwsradio",
    "uri": "{{ BNR_uri }}"
  },
  {
    "service": "webradio",
    "name": "Classic FM",
    "uri": "{{ Classic_uri }}"
  },
  {
    "service": "webradio",
    "name": "Concertzender",
    "uri": "{{ Concert_uri }}"
  },
  {
    "service": "webradio",
    "name": "QMusic",
    "uri": "{{ QMusic_uri }}"
  },
  {
    "service": "webradio",
    "name": "Radio 10 Guilty Pleasures",
    "uri": "{{ Radio10GP_uri }}"
  },
  {
    "service": "webradio",
    "name": "Radio 10 80's",
    "uri": "{{ Radio1080_uri }}"
  },
  {
    "service": "webradio",
    "name": "Radio 10 60/70's",
    "uri": "{{ Radio1060_uri }}"
  },
  {
    "service": "webradio",
    "name": "Radio 10 Disco Classics",
    "uri": "{{ Radio10DC_uri }}"
  },
  {
    "service": "webradio",
    "name": "Radio 10 Love Songs",
    "uri": "{{ Radio10LS_uri }}"
  },
  {
    "service": "webradio",
    "name": "Radio 538",
    "uri": "{{ Radio538_uri }}"
  },
  {
    "service": "webradio",
    "name": "Veronica",
    "uri": "{{ Veronica_uri }}"
  },
  {
    "service": "webradio",
    "name": "Veronica Top 1000 Allertijden",
    "uri": "{{ VeronicaT1000_uri }}"
  },
  {
    "service": "webradio",
    "name": "Skyradio",
    "uri": "{{ SkyRadio_uri }}"
  },
  {
    "service": "webradio",
    "name": "Slam!FM",
    "uri": "{{ SlamFM_uri }}"
  },
  {
    "service": "webradio",
    "name": "Sublime FM",
    "uri": "{{ Sublime_uri }}"
  },
  {
    "service": "webradio",
    "name": "Bingo FM",
    "uri": "{{ Bingo_uri }}"
  },
  {
    "service": "webradio",
    "name": "NPO Radio 2 Top 2000",
    "uri": "{{ Radio2T2000_uri }}"
  }
]
